.logo {
    background-color: #006600;
}
.botao-sobre{
    padding-left: 120px;
    height: 30px;
    background-color: #8257e8;
    margin-bottom: 30px;
}

.botao-home{
    padding-left: 120px;
    background-color: #8257e8;
    height: 30px;   
    margin-bottom: 30px;
}

a{ 
    padding: 10px;
}