{% extends 'paginas/modelo.html' %}

{% load static %}

{% block conteudo %}

<h2 class="text-dark border-buttom border-warning pb-1 nt-4">
    Página inicial do Projeto
</h2>


<div class="row bg-success p-3 mb-2">
    <h4>Atividades postadas recentes</h4>
    
    {% for a in object_list %}
    
    <div class="card text-left">
      <img class="card-img-top" src="holder.js/100px180/" alt="">
      <div class="card-body">
        <h4 class="card-title">{{ a.materia }}</h4>
        <p class="card-text">{{ a.descricao }}</p>
      </div>
    </div>

    {% empty %}
    <p>Nenhum registro encontrado...</p>
    {% endfor %}

</div>


{% endblock %}
