{% extends 'paginas/modelo.html' %}

{% load static %}

{% block conteudo %}
<h2 class="text-success border-buttom border-warning pb-1 nt-4">
    Listas de Materias registradas
</h2>

<a href="{% url 'cadastrar-materia' %}" class="btn btn-warning btn-sm">Adicionar Materia</a>

<hr>
<div class="table-responsive">
    <table class="table table-striped">
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Turma</th>
            <th>Opções</th>
        </tr>

        {% for materia in object_list %}
        <tr>
            <td>{{ materia.pk }}</td>
            <td>{{ materia.nome }}</td>
            <td>{{ materia.turma }}</td>

            <td>
                <a href="{% url 'editar-materia' materia.pk %}" class="btn btn-info btn-sm">Editar</a>
                <a href="{% url 'excluir-materia' materia.pk %}" class="btn btn-danger btn-sm">Excluir</a>
            </td>
        </tr>

        {% empty %}
        <tr>
            <td colspan="3">Nenhuma Materia registrada.</td>
        </tr>

        {% endfor %}

    </table>
</div>
{% endblock %}