{% extends 'paginas/modelo.html' %}

{% load static %}

{% block conteudo %}
<h2 class="text-success border-buttom border-warning pb-1 nt-4">
    Listas de Alunos registrados
</h2>

<a href="{% url 'cadastrar-perfil_aluno' %}" class="btn btn-warning btn-sm">Adicionar Perfil Aluno</a>

<hr>
<div class="table-responsive">
    <table class="table table-striped">
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Idade</th>
            <th>Turma</th>
            <th>Opções</th>
        </tr>

        {% for perfil_aluno in object_list %}
        <tr>
            <td>{{ perfil_aluno.pk }}</td>
            <td>{{ perfil_aluno.nome }}</td>
            <td>{{ perfil_aluno.idade }}</td>
            <td>{{ perfil_aluno.turma }}</td>

            <td>
                <a href="{% url 'editar-perfil_aluno' perfil_aluno.pk %}" class="btn btn-info btn-sm">Editar</a>
                <a href="{% url 'excluir-perfil_aluno' perfil_aluno.pk %}" class="btn btn-danger btn-sm">Excluir</a>
            </td>
        </tr>

        {% empty %}
        <tr>
            <td colspan="3">Nenhum Perfil Professor registrado.</td>
        </tr>

        {% endfor %}

    </table>
</div>
{% endblock %}

